h2 {
  margin: 20px 0;
}

input, label {
  display: inline;
}

input {
  width: 100px;
  margin: 0 12px;
}

div {
  color: red;
  display: table-row;
}

#fromControlPassword {
  text-security:disc;
  -webkit-text-security:disc;
}
