<form #tripForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="trip-form">
    <label for="formControlSearch">Pridėti žmonių:</label>
    <input id="formControlSearch"
           type="text"
           class="form-control people-input"
           name="person"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [resultFormatter]="format"
           [inputFormatter]="format"/>
    <button class="btn-secondary" (click)="addPerson(model)">
      Pridėti žmogų
    </button>
  </div>
  <div>
    Pridėti žmonės:
    <table>
      <tr>
        <th *ngFor="let col of columns">
          {{col}}
        </th>
      </tr>
      <tr *ngFor="let person of persons">
        <td>
          {{person.name}}
        </td>
        <td>
          <button class="btn-secondary" (click)="deletePerson(person.id)">Atmesti</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="dates trip-form d-flex">
    <div>
      <label for="formControlDateFrom">Data nuo:</label>
      <input name="dateFrom" type="date" class="form-control" id="formControlDateFrom" required ngModel>
    </div>
    <div>
      <label for="formControlDateTo">Data iki:</label>
      <input name="dateTo" type="date" class="form-control" id="formControlDateTo" required ngModel>
    </div>
  </div>
  <div class="offices trip-form d-flex">
    <div>
      <label for="selectFromOffice" class="control-label">Iš ofiso:</label>
      <select name="fromOffice" type="text" class="form-control" id="selectFromOffice">
        <option value=""></option>
        <option *ngFor="let office of offices" [value]="office" (click)="saveFromSelection(office)">
          {{office.title}}
        </option>
      </select>
    </div>
    <div>
      <label for="selectToOffice" class="control-label">Į ofisą:</label>
      <select name="toOffice" type="text" class="form-control" id="selectToOffice">
        <option value=""></option>
        <option *ngFor="let office of offices" value="office" (click)="saveToSelection(office)">
          {{office.title}}
        </option>
      </select>
    </div>
  </div>
  <div class="custom-control custom-checkbox">
    <div>
      <input name="plane" type="checkbox" class="custom-control-input" id="formControlPlane" ngModel>
      <label class="custom-control-label" for="formControlPlane">Reikalingi lėktuvo bilietai</label>
    </div>
    <div>
      <input name="car" type="checkbox" class="custom-control-input" id="formControlAuto" ngModel>
      <label class="custom-control-label" for="formControlAuto">Reikalinga nuomuota mašina</label>
    </div>
    <div>
      <input name="accommodation" type="checkbox" class="custom-control-input" id="formControlAccommodation" ngModel>
      <label class="custom-control-label" for="formControlAccommodation">Reikalingas apgyvendinimas viešbutije</label>
    </div>
  </div>
  <button type="submit" class="btn-secondary" [disabled]="!tripForm.valid" (click)="submit()">Submit</button>
</form>
