<form (ngSubmit)="onSubmit()">
  <div class="trip-form">
    <app-user-search></app-user-search>
    <!--display added users-->
  </div>
  <div class="dates trip-form d-flex">
    <div>
      <label for="formControlDateFrom">Date from:</label>
      <input type="date" class="form-control" id="formControlDateFrom">
    </div>
    <div>
      <label for="formControlDateTo">Date to:</label>
      <input type="date" class="form-control" id="formControlDateTo">
    </div>
  </div>
  <div class="offices trip-form d-flex">
    <div>
      <label>Office from:</label>
      <app-office-search></app-office-search>
    </div>
    <div>
      <label>Office to:</label>
      <app-office-search></app-office-search>
    </div>
  </div>
  <div class="custom-control custom-checkbox">
    <div>
      <input type="checkbox" class="custom-control-input" id="formControlPlane">
      <label class="custom-control-label" for="formControlPlane">Plane tickets required</label>
    </div>
    <div>
      <input type="checkbox" class="custom-control-input" id="formControlAuto">
      <label class="custom-control-label" for="formControlAuto">Rental car required</label>
    </div>
    <div>
      <input type="checkbox" class="custom-control-input" id="formControlAccommodation">
      <label class="custom-control-label" for="formControlAccommodation">Accommodation required</label>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!tripForm.valid">Submit</button>
</form>
