<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="formControlDateFrom">{{ 'trip-create.date-from' | translate }}</label>
      <input name="dateFrom" type="date" class="form-control" id="formControlDateFrom" (change)="dateFrom = $event.target.value">
    </div>
    <div class="form-group col-md-6">
      <label for="formControlDateTo">{{ 'trip-create.date-to' | translate }}</label>
      <input name="dateTo" type="date" class="form-control" id="formControlDateTo" (change)="dateTo = $event.target.value">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="selectFromOffice" class="control-label">{{ 'trip-create.from-office' | translate }}</label>
      <select (change)="saveFromSelection($event.target.selectedOptions[0].innerText)" name="fromOffice" type="text" class="form-control" id="selectFromOffice">
        <option disabled value=""></option>
        <option *ngFor="let office of offices" [value]="office">
          {{office.title}}
        </option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="selectToOffice" class="control-label">{{ 'trip-create.to-office' | translate }}</label>
      <select (change)="saveToSelection($event.target.selectedOptions[0].innerText)" name="toOffice" type="text" class="form-control" id="selectToOffice">
        <option disabled value=""></option>
        <option *ngFor="let office of offices" value="office">
          {{office.title}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label id="people-label" for="form-control-search">{{ 'trip-create.add-people' | translate }}</label>
      <input id="form-control-search"
             type="text"
             class="form-control"
             name="person"
             [(ngModel)]="model"
             [ngbTypeahead]="search"
             [resultFormatter]="format"
             [inputFormatter]="format"/>
      <button id="add-person-btn" class="btn btn-secondary" (click)="addPersonToTrip(model)">
        {{ 'trip-create.add-person' | translate }}
      </button>
    </div>
  </div>
  <table *ngIf="participants?.length" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">{{ 'trip-create.name' | translate }}</th>
      <th scope="col">{{ 'trip-create.surname' | translate }}</th>
      <th scope="col">{{ 'trip-create.needs-tickets' | translate }}</th>
      <th scope="col">{{ 'trip-create.needs-rental' | translate }}</th>
      <th scope="col">{{ 'trip-create.needs-accommodation' | translate }}</th>
      <th scope="col">{{ 'trip-create.delete' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let participant of participants; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ participant.participant.id }}
      </td>
      <td>{{ participant.participant.name }}</td>
      <td>{{ participant.participant.surname }}</td>
      <td><input type="checkbox" (change)="onTicketStatusChange($event, participant)" name="plane-tickets"></td>
      <td><input type="checkbox" (change)="onRentalStatusChange($event, participant)" name="rental-car"></td>
      <td><input type="checkbox" (change)="onAccommodationStatusChange($event, participant)" name="hotel"></td>
      <td><button (click)="removeParticipant(participant.participant)" class="btn btn-danger">{{ 'trip-create.delete' | translate }}</button></td>
    </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary" [disabled]="isFormDisabled()" (click)="submit()">{{ 'trip-create.submit' | translate }}</button>
</form>
