.mat-list-item {
  white-space: pre-wrap;
}

ngb-pagination {
  display: inline-block;
}

select {
  width: 60px;
  margin-left: 12px;
}

.page-size-container {
  display: block;
}

.white-readonly-input input[readonly] {
  background-color: white ;
}

.filter-container{
  display: flex;
  align-items: flex-end;
}

