<div class="row white-readonly-input filter-container mt-4 mb-3">

  <div class="col-12 col-sm-6 col-lg-2 mt-3 mt-md-0">
    <label>{{ 'trip-filters.start-date-from' | translate }}:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" [readOnly]="true" name="startDateFromFilter"
             [(ngModel)]="startDateFromModel" ngbDatepicker #dp1="ngbDatepicker"
             (click)="dp1.toggle()" (dateSelect)="onDateSelect()">
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="startDateFromModel=null; onDateSelect()">X</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-2 mt-3 mt-md-0">
    <label>{{ 'trip-filters.start-date-to' | translate }}:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" [readOnly]="true" name="startDateToFilter"
             [(ngModel)]="startDateToModel" ngbDatepicker #dp2="ngbDatepicker"
             (click)="dp2.toggle()" (dateSelect)="onDateSelect()">
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="startDateToModel=null; onDateSelect()">X</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-2 mt-3 mt-md-0">
    <label>{{ 'trip-filters.end-date-from' | translate }}:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" [readOnly]="true" name="endDateFromFilter"
             [(ngModel)]="endDateFromModel" ngbDatepicker #dp3="ngbDatepicker"
             (click)="dp3.toggle()" (dateSelect)="onDateSelect()">
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="endDateFromModel=null; onDateSelect()">X</button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-2 mt-3 mt-md-0">
    <label>{{ 'trip-filters.end-date-to' | translate }}:</label>
    <div class="input-group input-group-sm">
      <input class="form-control" [readOnly]="true" name="endDateToFilter"
             [(ngModel)]="endDateToModel" ngbDatepicker #dp4="ngbDatepicker"
             (click)="dp4.toggle()" (dateSelect)="onDateSelect()">
      <div class="input-group-append">
        <button class="btn btn-secondary" (click)="endDateToModel=null; onDateSelect()">X</button>
      </div>
    </div>
  </div>

  <div class="col-12 offset-lg-1 col-lg-3 mt-3 mt-lg-0">
    <div class="btn-group btn-group-sm float-lg-right">
      <button class="btn btn-outline-secondary" (click)="onPreviousSelect()">{{ 'trip-filters.previous' | translate }}</button>
      <button class="btn btn-outline-secondary" (click)="onCurrentSelect()">{{ 'trip-filters.current' | translate }}</button>
      <button class="btn btn-outline-secondary" (click)="onUpcomingSelect()">{{ 'trip-filters.upcoming' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
</div>

<div *ngIf="!loading">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let trip of trips">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="btn btn-link m-0">{{trip.toOffice.title}}</button>
          <div *ngIf="showInvitationButtons">
            <button (click)="onAccept(trip)" class="btn btn-sm btn-primary ml-2">Accept</button>
            <button (click)="onDecline(trip)" class="btn btn-sm btn-danger ml-2">Decline</button>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul>
          <li><strong>Destination:</strong> {{trip.toOffice.title}}</li>
          <li><strong>Start date:</strong> {{trip.startDate}}</li>
          <li><strong>End date:</strong> {{trip.endDate}}</li>
          <li><strong>Organizer:</strong> {{trip.organizer.name}} {{trip.organizer.surname}}</li>
          <li><strong>Number of participants:</strong> {{trip.tripParticipations.length}}</li>
          <li><strong>Flight ticket status:</strong> {{trip.flightTicketStatus}}</li>
          <li><strong>Car rental status:</strong> {{trip.carRentalStatus}}</li>
          <li><strong>Accommodation status:</strong> {{trip.accomodationStatus}}</li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="alert alert-warning" *ngIf="trips.length == 0">
    {{ 'trip-list.empty-list' | translate }}
  </div>

</div>

<div class="row mt-3">
  <div class="col-12 col-md-8">
    <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="collectionSize" [pageSize]="pageSize"
                    [(page)]="page" [maxSize]="5"
                    [rotate]="true">
    </ngb-pagination>
  </div>
  <div class="col-12 col-md-4">
    <div class="float-md-right">
      <label>{{ 'trip-list.items-per-page' | translate }}</label>
      <select (change)="onPageSizeChange($event.target.value)" class="browser-default custom-select">
        <option *ngFor="let pageSize of pageSizeOptions" value="{{pageSize}}">{{pageSize}}</option>
      </select>
    </div>
  </div>
</div>

