<mat-card>Your trips</mat-card>
<mat-accordion *ngFor="let trip of trips">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{trip.destination}}
      </mat-panel-title>
      <mat-panel-description>
        {{trip.startDate}} to {{trip.endDate}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><strong>Destination:</strong> {{trip.destination}}</mat-list-item>
      <mat-list-item><strong>Start date:</strong> {{trip.startDate}}</mat-list-item>
      <mat-list-item><strong>End date:</strong> {{trip.endDate}}</mat-list-item>
      <mat-list-item><strong>Status:</strong> {{trip.status}}</mat-list-item>
      <mat-list-item><strong>Accommodation:</strong> {{trip.accommodation}}</mat-list-item>
      <mat-list-item><strong>Organizer:</strong> {{trip.organizer}}</mat-list-item>
      <mat-list-item><strong>Type:</strong> {{trip.type}}</mat-list-item>
      <mat-list-item><strong>Rental car booking needed:</strong> {{trip.requiresVehicle ? 'yes' : 'no'}}
      </mat-list-item>
      <mat-list-item><strong>Plane tickets booking needed:</strong> {{trip.requiresTickets ? 'yes' : 'no'}}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
